---

import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry } from 'astro:content'
import Markdown from '@components/misc/Markdown.astro'
import I18nKey from '@i18n/i18nKey'
import { i18n } from '@i18n/translation'

const linksPost = await getEntry('spec', 'links')
const { Content } = await linksPost.render()
const items = [
  {
    title: 'Astro',
    imgurl: 'https://docs.astro.build/favicon.ico',
    desc: 'Astro',
    siteurl: 'https://astro.build/',
    tags: ['框架'],
  },

  {
    title: '向量机',
    imgurl: 'https://kaf.im/i/2024/09/16/172649716966e841914aa53.jpg',
    desc: '深度学习',
    siteurl: 'https://www.yuque.com/bystander-wg876/yc5f72/pdv5ry?',
    tags: ['推导'],
  },
  
  {
    title: 'PLIP',
    imgurl: 'https://5pw.net/i/2025/01/13/6784dc1d894f0.png',
    desc: '相互作用',
    siteurl: 'https://plip-tool.biotec.tu-dresden.de/plip-web/plip/index',
    tags: ['工具'],
  },

  {
    title: 'PDBx2mmCIF',
    imgurl: 'https://5pw.net/i/2025/01/13/6784dc1d88dc7.png',
    desc: '格式转换',
    siteurl: 'https://mmcif.pdbj.org/converter/index.php?l=en',
    tags: ['工具'],
  },

  {
    title: '初音社',
    imgurl: 'https://kaf.im/i/2024/09/17/172650859766e86e351a4d5.png',
    desc: '番剧下载',
    siteurl: 'https://www.mikuclub.uk/anime',
    tags: ['番剧'],
  },

  {
    title: 'Kaf',
    imgurl: 'https://kaf.im/i/2024/09/17/172650873566e86ebf93557.jpg',
    desc: '图床生成',
    siteurl: 'https://kaf.im/',
    tags: ['工具'],
  }
]
---
<MainGridLayout title={i18n(I18nKey.links)} description={i18n(I18nKey.links)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <!-- 链接 -->
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-6 gap-y-8 my-4">
                {items.map((item) => (
                    <div class="flex flex-nowrap items-stretch h-28 gap-4 rounded-[var(--radius-large)]">
                        <div class="w-28 h-28 flex-shrink-0 rounded-lg overflow-hidden bg-zinc-200 dark:bg-zinc-900">
                            <img src={item.imgurl} alt="urlimg" class="w-full h-full object-cover">
                        </div>
                        <div class="grow w-full">
                            <div class="font-bold transition text-lg text-neutral-900 dark:text-neutral-100 mb-1">{item.title}</div>
                            <div class="text-50 text-sm font-medium">{item.desc}</div>
                            <div class:list={["items-center", {"flex": true, "hidden md:flex" : false}]}>
                                <div class="flex flex-row flex-nowrap items-center">
                                    {(item.tags && item.tags.length > 0) && item.tags.map((tag,i) => (
                                    <div class:list={[{"hidden": i==0}, "mx-1.5 text-[var(--meta-divider)] text-sm" ]}>
                                        /
                                    </div>
                                    <span class="transition text-50 text-sm font-medium">
                                        {tag}
                                    </span>))}
                                    {!(item.tags && item.tags.length > 0) && <div class="transition text-50 text-sm font-medium">{i18n(I18nKey.noTags)}</div>}
                                </div>
                            </div>
                        </div>
                        <a href={item.siteurl} target="_blank" rel="noopener noreferrer"class="flex btn-regular w-[3.25rem] rounded-lg bg-[var(--enter-btn-bg)] hover:bg-[var(--enter-btn-bg-hover)] active:bg-[var(--enter-btn-bg-active)] active:scale-95">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="transition text-[var(--primary)] text-4xl mx-auto iconify iconify--material-symbols" width="1em" height="1em" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M12.6 12L8.7 8.1q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l4.6 4.6q.15.15.213.325t.062.375t-.062.375t-.213.325l-4.6 4.6q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7z"></path>
                            </svg>
                        </a>
                    </div>
                ))}
            </div>
            <Markdown class="mt-2">
                <Content />
            </Markdown>
        </div>
    </div>
</MainGridLayout>